<div class="container">
  <div class="col-md-12 col-lg-12" style="text-align: center; margin: 10px">
    <h1>Chi tiết cuốn sách</h1>
  </div>
  <div>
    <table class="container mt-3">
      <tr class="col">
        <th style="width: 120px">Tên sách:</th>
        <td>{{books.title}}</td>
      </tr>
      <tr>
        <th>Tác giả:</th>
        <td>{{books.author}}</td>
      </tr>
      <tr>
        <th>Mô tả:</th>
        <td>{{books.description}}</td>
      </tr>
    </table>
    <div style="margin-left: 400px">
      <button class="btn btn-primary" type="button" routerLink="">Thoát</button>
    </div>
  </div>
</div>

